body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
    background: #eee;
    scroll-behavior: smooth;
}

section {
    padding: 50px 20px;
    text-align: center;
    transition: transform 0.5s ease-in-out;
}

#home {
    background: #28527a;
    color: white;
    height: 100vh;
}

#about, #skills {
    min-height: 100vh;
    background: white;
    color: #333;
}

#contact {
    background: #333;
    color: white;
}

form {
    max-width: 300px;
    margin: auto;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #0077cc;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.billede {
    width: 50%;
    height: 50%;
    object-fit: cover;
}
.image-container {
    display: block;
    justify-content: center;
    align-items: center;
    
}
